
//este es el contenedor general en cual se usara grid para dividir los espacios de mejor manera haber

//estilos generales de los elementos
//color 

//font

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://db.onlinewebfonts.com/c/df4f2ad3e800c192957a66008bec69a1?family=KoningDisplay+Regular');

html{
    scroll-behavior: smooth;
    body{
        .float-wa{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            z-index:100;
        }
    }
}
header{
    font-family:"Montserrat",sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .logo-img{
        width: 50%;
    }

    .navigation{
        display: flex;
        align-items:center;
        justify-content: center;
        ul{
            display: flex;
            
            li{
                list-style: none;
                margin: 20px;
                
                a{
                    text-decoration: none;
                    color: #6f4b3a;
                    font-weight: 500;
                    font-size:1.2rem ;
                }
            }
        }
    }
}

.main-container{
background-color: rgb(250, 248, 244);
font-family: Arial, Helvetica, sans-serif;



    .block-1{
        display: grid;
        gap: 15px;
        grid-template-columns:  auto auto ;
        .item-2{
            // grid-area: 1/1/2/3;
            background-color: rgb(69, 130, 94);
            background-image: url(../images/block.jpg);
            background-size:cover;
            background-blend-mode: multiply;
            display: grid;
            justify-self: center;
            align-items: center;
            
            h2{
                color: white;
                font-size: 4vw;
                margin: 5%;
                font-family: "KoningDisplay Regular", Times, serif;
                font-weight: 100;

            }
        }

        .item-4{
            grid-area: 2/1/3/4;
            display: grid;
            justify-content: center;
            margin: 3% 0 9% 0;
            .block-button{
                
                width: 100%;
                background-color: rgb(149,116,69);
                border: none;
                border-radius: 5px;
                padding: 5px 30px 5px 30px;
                font-size:1.8rem ;
                a{
                    color: rgb(255,255,255);
                    text-decoration: none;
                }
                
            }
        }
    }




    .block-2{
        display: grid;
        grid-template-columns:1fr 2fr;
        background: linear-gradient(to bottom right, rgb(163, 195, 163),rgb(179, 155, 139));
        
        .item-5{
            margin: 10%;
            img{
                border-radius: 50%;
            }
            
        }
        .item-6{
            display: grid;
            justify-items: center;
            align-items: center;
            padding: 5%;
            font-family:"KoningDisplay Regular",sans-serif;
            font-size: 1.5rem;
            
    
        }
    }




    // block-3 
    .item-7h2{
            
        display: grid;
        justify-items: center;
        align-items: center;
        margin-top: 6%;
        font-family:"KoningDisplay Regular",sans-serif;
        font-size: 2.5rem;
        color: #6f4b3a;
    } 
    .cards{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5% 15% ;
        
        .card{
            position: relative;
            margin-bottom: 10%;
            

            .image-item{
                width: 100%;
                border-radius: 20px; 
            
            }
            .content-item{
                position: absolute;
                background-color: rgb(255, 255, 255);
                width: 70%;
                display: block;
                justify-items: center;
                align-content: center;
                height:45%;
                border-radius: 1vw;
                top: 66%;
                left: 15%;
                padding: 5px;
                p{
                    font-size: 1.5vw;
                    text-decoration: none;
                    color: #6f4b3a;
                    font-family:"KoningDisplay Regular",sans-serif;
                }
            }
        }
        
    } 
    // .buttom-item-17{
    //     grid-area: auto/1/auto/4;
    //     display: grid;
    //     justify-content: center;
    //     margin: 8%;
    //     .block-button{

    //         width: 100%;
    //         color: rgb(255,255,255);
    //         background-color: rgb(149,116,69);
    //         border: none;
    //         border-radius: 5px;
    //         padding: 5px 30px 5px 30px;
    //         font-size:1.8rem ;
            
            
    //     }
    // }
    
    


    // //block-4 
    .block-4{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        width: 100%;
        min-height: 700px;
        background-image: url(../images/contact-us.webp);
        background-color: rgb(140, 74, 39);
        opacity: 0.79;
        background-size:cover;
        background-blend-mode: multiply;

        .item-h2{
            grid-area: 1/1/3/7;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5%;
            color: rgb(255, 255, 255);
            font-size: 4rem;
            font-weight: 100;
            font-family:"KoningDisplay Regular",sans-serif;
        }
        .item-18{
            grid-area: 3/1/5/3;
            p{
                margin: 15%;
                
            }
        }
        .item-19{
            grid-area: 3/3/5/5;
            p{
                margin: 15%;
            }
        }
        .item-20{
            grid-area: 3/5/5/7;
            p{
                margin: 15%;
            }
        }
        .comment{
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            
        }
    }
    


        
    //..................................
    .block-5{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        font-size: 1.3rem;
        .item-21{
            grid-area: 1/1/2/7;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5%;
            img{
                width: 300px;
            }
        }
        .item-22{
            grid-area: 2/1/3/3;
            border: 2px solid #6f4b3a;
            margin: 10%;
            padding-bottom: 10%;
            color: #6f4b3a;
            h3{
                margin: 6%;
            }
            p{
                margin: 6%;
                a{
                    text-decoration: none;
                    color: #6f4b3a;
                }
            }
            
        }
        .item-23{
            grid-area: 2/3/3/5;
            border: 2px solid #6f4b3a;
            margin: 10%;
            padding-bottom: 10%;
            color: #6f4b3a;
            h3{
                margin: 6%;
            }
            p{
                margin: 6%;
            }
        }
        .item-24{
            grid-area: 2/5/3/7;
            border: 2px solid #6f4b3a;
            margin: 10%;
            padding-bottom: 10%;
            color: #6f4b3a;
            h3{
                margin: 6%;
            }
            p{
                margin: 6%;
            }
            .socialIcons{
                margin: 2%;
                display: flex;
                .socialIcon{
                    margin: 4%;
                    width: 50px;
                }
            }
            .contact-button{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #6f4b3a;
                button{
                    border: 2px solid rgb(149,116,69);
                    border-radius: 20px;
                    background-color:rgb(250, 248, 244) ;
                    color: #6f4b3a;
                    margin: 6%;
                    width: 90%;
                    padding: 5px;
                    
                }
            }
        }
        .item-25{
            grid-area: 3/1/4/7;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #6f4b3a;
            font-family: "KoningDisplay Regular", Times, serif;
            font-size: 13vw;
            
        }
    }




    .block-6{

        .activityDescription{
            margin: 5%;
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #6f4b3a;
                font-size: 3rem;
                margin: 15% 0 2% 0;
            }
            .itinerarios{
                padding: 0 9% 0 9%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 3%;
                
                .itinerario{
                    border: 2px solid green; 
                    border-radius: 10px;
                    padding:  2% 0 2% 0; 
                    color:green;
                    display: grid;

                    .itinerario-text{
                        margin-top: 3%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.2vw;
                    }

                    .img-and-description{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        border-radius: 10px;

                        img{
                           width: 20%;
                            
                        }
                        p{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.2vw;
                        }

                    }
                }

            }
            .activity-content{
                display: grid;
                grid-template-columns: .5fr 1fr;
                gap: 20px;
                padding: 30px;
                .img-content{
                    //width: 450px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        border-radius: 10px;
                    }
                }
                .text-content{
                    padding: 10px;
                    display: flex;
                    font-size: 1.3rem;
                    flex-direction: column;
                    .text-content-head{
                        margin-bottom: 3%;
                        color: #6f4b3a;
                    }

                }


            }
            .button-activity-content{
                grid-area: 2/1/3/4;
                display: grid;
                justify-content: center;
                
                button{
                    width: 100%;
                    background-color: rgb(149,116,69);
                    border: none;
                    border-radius: 5px;
                    padding: 5px 30px 5px 30px;
                    font-size:1.8rem ;
                    a{
                        color: rgb(255,255,255);
                        text-decoration: none;
                    }
                }
                
            }
        }
    }

       
    .block-7{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .item-36{
            grid-area: 1/1/2/2;
            display: grid;
            align-items: center;
            justify-content: center;
            padding:0 13% 0 13%;
            h2{
                font-family: "KoningDisplay Regular", Times, serif;
                font-size: 3rem;
                color: #6f4b3a;
            }
            P{
                font-size: 1.3rem;
            }
        }
        .item-37{
            grid-area: 1/2/2/3;
            display: grid;
            justify-content: space-around;
            align-items: center;
            width: 100%;
          

                button{
                    width: 100%;
                    background-color: rgb(149,116,69);
                    border: none;
                    border-radius: 5px;
                    font-size:1.8rem;
                    padding: 3%;
                    a{
                        color: rgb(255,255,255);
                        text-decoration: none;
                    }
                   
                }
                .download-pdf-link-button{
                    background-color: rgb(69, 130, 94);
                    a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    
                    }
                }

        }
        .images7{
            grid-area: 2/1/3/3;
            display: flex;
            .item{
                padding: 5%;
                img{
                    border-radius: 50%;
                }
            }
        }    
    }

}
@media only screen and (max-width: 960px) {

    header{
        display: grid;
        grid-template-columns: 1fr;
        .logo-img{
            display: grid;
            justify-self: center;
            align-items: center;
            width: 30%;
        }
        .navigation{
            ul{
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
        
    }
    .main-container{
        /////////////////////////////////////////////////
        .block-1{
            //display: block;
            gap: 0;
            .item-2{
                display: grid;
                justify-self: center;
                align-items: center;
                h2{
                    font-size: 7vw;
                }

            }
            .item-3{
                display: none;
            }
        }
        ///////////////////////////////////////////////////
        .block-2{
            display: grid;
            grid-template-columns: 1fr;
            // .item-5{
            //     grid-area: 1/1/2/2;    
            // }
            .item-6{
                // grid-area: 2/1/2/2;
                font-family: "KoningDisplay Regular", Times, serif;
            }
        }
        ///////////////////////////////////////////////////
        
        .cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-family: "KoningDisplay Regular", Times, serif;

            .card{

                .content-item{
                    p{
                        font-size: 2vw;
                       
                        font-family:"KoningDisplay Regular",sans-serif;
                    }
                }
            }
        }
        /////////////////////////////////////////////
        
        .block-4{
            padding: 10% 0 10% 0;
            display: block;
            .item-18{
                .name-people{
                    margin-top: 3%;
                    
                }
            }
            .item-19{
                .name-people{
                    margin-top: 3%;
                    
                }
            }
            .item-20{
                .name-people{
                    margin-top: 3%;
                    
                }
            }
        }
        /////////////////////////////////////////////
        .block-5{
            display: block;
           
        }
        ///////////////////////////////////////////
        .block-6{
            .activityDescription{
                h2{
                    margin-top:25% ;
                }
                .itinerarios{
                    padding: 2.5% 5% 2.5% 5%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 5%;
                    
                    .itinerario{
                        // border: 2px solid green; 
                        // border-radius: 10px;
                        // padding: 15% 5% 15% 5%; 
                        // color:green;
                        // display: grid;

                        .itinerario-text{
                            // margin-top: 3%;
                            // display: flex;
                            // align-items: center;
                            // justify-content: center;
                            font-size: 2vw;
                        }

                        .img-and-description{
                            // display: flex;
                            // align-items: center;
                            // justify-content: space-around;
                            // border-radius: 10px;


                            p{
                                // display: flex;
                                // align-items: center;
                                // justify-content: center;
                                font-size: 2vw;
                            }

                        }
                    }

                }
                .activity-content{
                    display: grid;
                    grid-template-columns: 1fr;
                    .img-content{

                    }
                    .text-content{

                    }
                }
            }
        }
        /////////////////////////////////////////////
        
        .block-7{
            display: block;
        //     grid-template-columns: 1fr 1fr;
        //     .item-36{
        //         grid-area: 1/1/2/3;
        //         display: grid;
        //         align-items: center;
        //         justify-content: center;
        //         padding: 7%;
        //         h2{
        //             font-family: "KoningDisplay Regular", Times, serif;
        //             font-size: 3rem;
        //             color: #6f4b3a;
        //         }
        //         P{
        //             font-size: 1.3rem;
        //         }
        //     }
             .item-37{
        //         grid-area: 2/1/3/3;
        //         display: grid;
        //         justify-content: space-around;
        //         align-items: center;
        //         width: 100%;
              
    
                    button{
        //                 width: 100%;
                       
        //                 color: rgb(255,255,255);
        //                 background-color: rgb(149,116,69);
        //                 border: none;
        //                 border-radius: 5px;
                        
        //                 padding: 2%;
                        margin:3%;
                       
                     }
        //             .download-pdf-link-button{
        //                 a{
        //                 text-decoration: none;
        //                 color: rgb(255, 255, 255);
        //                 }
        //             }
    
             }
             .images7{
        //         grid-area: 3/1/4/3;
                //  display: block;
                //  align-items: center;
                //  justify-content: center;
                 .item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2%;
        //             img{
        //                 border-radius: 50%;
        //             }
               }
             }    
        }
        
    }
}


@media only screen and (max-width: 455px){
    header{
        .logo-img{
            width: 50%;
        }
        .navigation{
            margin: 0;
            ul{
                display: block;
                padding: 0;
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
        
    }
    .main-container{
        .block-1{
            display: block;
        }
        .block-2{
            .item-6{
                h2{
                    font-size: 2rem;
                }
            }
        }
        .item-7h2{
            padding: 8%;
            font-size: 2rem;
        }
        .cards{
            display: grid;
            grid-template-columns: 1fr;
            font-family: "KoningDisplay Regular", Times, serif;
            padding: 5%;
            .card{
                .image-item{
                //     display: none;
                //  margin: 10%;
                }
                .content-item{
                //     background-color:rgb(250, 248, 244);
                //     // border-top: 2px solid #6f4b3a;
                //     padding: 0%;
                //     display: grid;
                    
                    
                    .activity{
                        font-size: 4vw;
                //         width: 100%;
                        padding: 4%;
                //         font-family:"KoningDisplay Regular",sans-serif;
                    }
                //     .activity-hour{
                //         display: none;
                //     }
                }
            }
        }
        .block-4{
            .item-h2{
                font-size: 2rem;
            }
        }
        .block-6{
            .activityDescription{
                h2{
                    font-size: 2rem;
                }
                .activity-content{
                    .img-content{
                        img{
                        width: none;
                        }
                    }
                }
            }
        }
        .block-7{
            .item-36{
                h2{
                    font-size: 2rem;
                }

            }
           
        }
    }
}